.mainbar{
    float: left;
}
article{
    width: 630px;
    padding: 0 0 16px 0;
}
.form{
    display: block;
    clear: both;
    list-style: none;
}
.form label{
    display: block;
    margin: 0;
    padding: 16px 0 0 0;
}
.form input.text{
    width: 480px;
    border: 1px solid #c0c0c0;
    margin: 2px 0;
    padding: 5px 2px;
    height: 30px;
    background: #fff;
}
.form textarea{
    width: 480px;
    border: 1px solid #c0c0c0;
    margin: 2px 0;
    padding: 2px;
    background: #fff;
}
button{
    background-color: #7843E9;
    margin: 16px 0 0 0;
    padding: 5px 20px;
}